services:
  frontend:
    restart: unless-stopped
    image: ghcr.io/coldfirel15/gamecontainermanager:${DOCKER_TAG_FRONT:-main}
    environment:
      DOCKERCONTAINERMANAGER_AUTHENTICATION: "True"
      DOCKERCONTAINERMANAGER_DEBUG: "False"
      DOCKERCONTAINERMANAGER_SERVICE_TYPE: frontend
      DOCKERCONTAINERMANAGER_FAVICON_URL: ${DOCKERCONTAINERMANAGER_FAVICON_URL}
      DOCKERCONTAINERMANAGER_SECRET_KEY: ${DOCKERCONTAINERMANAGER_SECRET_KEY}
      DOCKERCONTAINERMANAGER_DISCORD_CLIENT_ID: ${DOCKERCONTAINERMANAGER_DISCORD_CLIENT_ID}
      DOCKERCONTAINERMANAGER_DISCORD_CLIENT_SECRET: ${DOCKERCONTAINERMANAGER_DISCORD_CLIENT_SECRET}
      DOCKERCONTAINERMANAGER_FRONTEND_URL: ${DOCKERCONTAINERMANAGER_FRONTEND_URL}
    ports:
      - "5000:5000"

  backend:
    restart: unless-stopped
    image: ghcr.io/coldfirel15/gamecontainermanager:${DOCKER_TAG_BACK:-main}
    environment:
      DOCKERCONTAINERMANAGER_DEBUG: "False"
      DOCKERCONTAINERMANAGER_SERVICE_TYPE: backend
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    healthcheck: 
      disable: true

  bot:
    restart: unless-stopped
    image: ghcr.io/coldfirel15/gamecontainermanager:${DOCKER_TAG_BOT:-main}
    environment:
      TZ: Europe/Paris
      DOCKERCONTAINERMANAGER_FRONTEND_URL: ${DOCKERCONTAINERMANAGER_FRONTEND_URL}
      DOCKERCONTAINERMANAGER_DISCORD_TOKEN: ${DISCORD_TOKEN} # Need to be set // Can be put in docker secret to avoid exposing the token
      DOCKERCONTAINERMANAGER_SERVICE_TYPE: bot
